version: '3.8'

services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./data:/data
    command: server /data --console-address ":9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  spark:
    image: apache/spark:3.5.0
    container_name: spark
    user: root
    environment:
      - SPARK_NO_DAEMONIZE=true
    volumes:
      - ./:/app
    depends_on:
      - minio
    command: /bin/bash -c "while true; do sleep 30; done;"

  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: password
      POSTGRES_DB: metastore
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  hive-metastore:
    image: apache/hive:3.1.3
    container_name: hive-metastore
    environment:
      SERVICE_NAME: metastore
      DB_DRIVER: postgres
      SKIP_SCHEMA_INIT: "true"
    ports:
      - "9083:9083"
    volumes:
      - ./hive-config/hive-site.xml:/opt/hive/conf/hive-site.xml
    depends_on:
      - postgres
    command: >
      /bin/sh -c "
        curl -L https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.4/hadoop-aws-3.3.4.jar -o /opt/hive/lib/hadoop-aws-3.3.4.jar &&
        curl -L https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.12.262/aws-java-sdk-bundle-1.12.262.jar -o /opt/hive/lib/aws-java-sdk-bundle-1.12.262.jar &&
        (/opt/hive/bin/schematool -dbType postgres -initSchema || true) &&
        /opt/hive/bin/hive --service metastore"

  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    volumes:
      - ./trino-config/catalog:/etc/trino/catalog
    depends_on:
      - hive-metastore
      - minio

volumes:
  data:
  postgres-data:
